.nav-cart {
  display: flex;
  align-items: center;
  gap: 30px;
}

.dot {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -35px;
  margin-left: -35px;
  border-radius: 11px;
  font-size: 10px;
  background: red;
  color: white;
}
